@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  line-height: 1.8rem;
  /* letter-spacing: 0.1px; */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  /* text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: antialiased;

  font-family: baskerville-urw, serif;
  background: #111;
  background-size: cover;
  z-index: -1;
}

body {
  padding: 30px 30px 30px 30px;
  background: #111;
}

::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

p {
  max-width: 550px;
  font-size: 24px;
  cursor: default;
  animation: loadIn 0.5s forwards linear 0.4s;
  -webkit-animation: loadIn 0.5s forwards linear 0.4s;
  opacity: 0;
  font-weight: 400;
  font-style: normal;
}

a,
p {
  color: white;
}

@media (hover: hover) {
  .bio a {
    color: rgb(34, 34, 34, 0);
    text-decoration: none;
    text-shadow: none;
  }

  .bio a:hover {
    /* font-style: italic; */
    color: white;
    text-shadow: 1px 1px rgb(34, 34, 34);
  }
}

a {
  font-style: italic;
  text-decoration: none;
  background-image: linear-gradient(to bottom, white 33%, transparent 33%);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-shadow: 1px 1px rgb(34, 34, 34);
}

.wrap {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  pointer-events: none;
  min-height: 100vh;
}

@media (hover: hover) {
  .ball {
    width: 1000px;
    height: 1000px;
    opacity: 50%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 10;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    /* filter: blur(50px);
  -webkit-filter: blur(50px); */
    transition: 0.3s transform;
  }
}

.ballHighlighted {
  /* border: 1px solid rgb(224, 224, 224); */
  opacity: 80%;
  border: 2px solid rgba(255, 255, 255);
  transform: scale(0.8);
}

footer {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: end;
  font-size: 24px;
}

footer a {
  text-decoration: none;
  background-image: none;
  opacity: 10%;
  display: block;
  margin-top: 8px;
  /* transition: opacity 0.5s; */
}

footer a:hover {
  opacity: 1;
}

@keyframes loadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@media (max-width: 450px) {
  html {
    overflow: visible;
    min-height: 120vh;
  }

  body {
    padding: 16px 16px 16px 16px;
  }

  p {
    max-width: 600px;
    font-size: 22px;
  }

  footer {
    bottom: 30px;
    right: 16px;
    position: fixed;
  }

  .footer a:hover {
    opacity: 0.1;
  }

  .wrap {
    display: none;
  }

  .ball {
    display: none;
  }

  a:hover {
    /* font-style: italic; */
    opacity: 100%;
  }

  a,
  p {
    letter-spacing: 0.03rem;
    line-height: 1.4rem;
    /* transition: opacity 0.3s; */
    /* -webkit-transition: opacity 0.1s; */
  }
}
